<div class="center">

</div>

<div class="container">
  <div class="row">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
  <hr>

  <div class="row" *ngFor='let quote of quotes; let i =index'>
    <div class="col-md-12 row">
      <blockquote class="blockquote"><em><strong>"{{quote.quote}}"</strong></em></blockquote>
      <div class="container">
        <div class="row">
          <button (click)='upvoteQuote(i)' class="btn btn-success btn-sm">Upvote {{quote.upvote}}</button>
          <button class="btn btn-danger btn-sm">Downvote {{quote.downvote}}</button>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <button class="btn btn-success btn-sm" (click)='toggleQuote(i)'> Show Quote </button>
        </div>
      </div>
    </div>

    <div class="row">
      <app-quote-details *ngIf="quote.showQuoteDetails" [quote]='quote' (isDone)='toaQuote($event, i)'></app-quote-details>
    </div>

  </div>

</div>
