<div class="center container">
  <div class="row">

    <form #quoteForm='ngForm'>

      <div class="form-group">
        <label for="quote">Quote:</label>
        <textarea name="quote" rows="8" required></textarea>
      </div>

      <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" [(ngModel)]='newQuote.author' name="author" required>

        <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
          <p> Author is required </p>
        </div>
      </div>

      <div class="form-group">
        <label for="author">Submitter:</label>
        <input type="text" [(ngModel)]='newQuote.submittor' name="submittor" required>

        <div [hidden]="submittor.valid || submittor.pristine" class="alert alert-danger">
          <p> Submitter is requied </p>
        </div>
      </div>

      <button class="btn btn-primary btn-lg">Add Quote</button>

    </form>

  </div>
</div>
