<div class="center container">
  <div class="row">

    <form (ngSubmit)="submitQuote()" #quoteForm='ngForm'>

      <div class="form-group">
        <label for="quote">Quote:</label>
        <textarea [(ngModel)]='newQuote.quote' name="quote" rows="8" #quote="ngModel" required></textarea>

        <div class="alert alert-danger" [hidden]="quote.valid || quote.pristine">
          <p> A quote is required </p>
        </div>
      </div>

      <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" [(ngModel)]='newQuote.author' name="author" #author="ngModel" required>

        <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
          <p> Author is required </p>
        </div>
      </div>

      <div class="form-group">
        <label for="author">Submitter:</label>
        <input type="text" [(ngModel)]='newQuote.submittor' name="submittor" #submittor="ngModel" required>

        <div [hidden]="submittor.valid || submittor.pristine" class="alert alert-danger">
          <p> Submitter is requied </p>
        </div>
      </div>

      <button class="btn btn-primary btn-lg">Add Quote</button>

    </form>

  </div>
</div>
